---
layout: default
---


<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1 class="post-single__title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more-button">Read More</a>
    </article>
  {% endfor %}
</div>


<div class="pagination">
  <ul>
    <li id="pagination-prev">
      {% if paginator.previous_page %}
        <a class="pagination-button" href="{{ paginator.previous_page_path }}">
          <img src="{{ site.baseurl }}/img/icons/prev.svg" alt="">
        </a>
      {% else %}
        <span>
          <img src="{{ site.baseurl }}/img/icons/prev.svg" alt="">
        </span>
      {% endif %}
    </li>

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li>
          <span id="current-page">{{ page }}</span>
        </li>
      {% elsif page == 1 %}
        <li>
          <a href="/">{{ page }}</a>
        </li>
      {% else %}
        <li>
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        </li>
      {% endif %}
    {% endfor %}

    <li id="pagination-next">
      {% if paginator.next_page %}
        <a class="pagination-button" href="{{ paginator.next_page_path }}">
          <img src="{{ site.baseurl }}/img/icons/next.svg" alt="">
        </a>
      {% else %}
        <span>
          <img src="{{ site.baseurl }}/img/icons/next.svg" alt="">
        </span>
      {% endif %}
    </li>
  </ul>
</div>
